<!-- <p>compo-g works!</p> -->
<!-- <h3>{{value | blankpipe:showAll ? value.length : 13}}
    <a (click)="showAll = !showAll" style="text-decoration: underline;font-size: 12px;color:blue; cursor: pointer;">
        See
        {{showAll ? 'less' : 'more'}}
    </a>
 </h3> -->
 <br>
 
 <input type="text" placeholder="search Item" 
 style="border-radius: 2px; border: none; margin-top: 20px; background-color: burlywood;" [(ngModel)]="filter">
<br>
 <ul *ngFor="let item of products | filterProduct:filter">
    <li style="list-style: none;">
        <div vinAppCard> 
             <!-- <div style="display:flex; border: 3px solid red; width: auto; display: inline-block; float: left; margin: 10px; padding: 15px; max-height: 55vh;"> -->
        <h5>{{item?.productCat}}</h5>
        <p>
            <img [src]="item.img" style="width: 200px; height: 150px; text-align: center; background-position: center;"> <br>
           <b>Product Name </b>: {{item?.pName}} <br>
           <b>Description </b>: {{item?.desc}} <br>
           <b>Price </b>: {{item?.price}} <br>
           <button 
           (click)="addToCart(item); item.addedIntoCart = true;" vinAppBtnPr>Add To Cart</button>
           <br>
           <br>
           <button vinAppBtnPr (click)="qtyHandler(item,item.qty  = item.qty + 1)">+</button> Qty : {{item.qty}}
         <button vinAppBtnDng (click)="qtyHandler(item,item.qty = item.qty > 1 ? item.qty - 1 : item.qty)">-</button>
          
        </p>
        </div>
        
    </li>

 </ul>
   <!-- <button (click)="totalAmount()">ALL</button> -->
