 <p>comp-b works!</p>
Name : {{name | uppercase}} 
<br>
Name : {{name | titleCase}}

<br>


<hr>
<button vinAppBtnPr>Click Me test test test test</button>

<p vinAppCart>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium, architecto!</p>
<hr>
<h2 style="text-align: center;">Emp Details ></h2>
 <hr>
 <select name="gender" style="border: 2px solid black; margin-left: 15vw; width: 200px;  background-color: bisque;" 
 [(ngModel)]="selectGender" >
    <option value="All">All</option>
    <option value="male">male</option>
    <option value="female">female</option>
 </select> 
 <br>
 <br>
  <input type="text" placeholder="search data" [(ngModel)]="selectGender">
<Div >
   <table style="background-color: paleturquoise;" >
     <tr>
      <th>No</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Salary</th>
     </tr>
      <tr *ngFor="let emp of empData | datafilter:selectGender:'pName'"> 
       <td>{{emp.no }}</td>
       <td>{{emp.name}}</td> 
      <td>{{emp.gender}}</td>
      <td>{{emp.age }}</td>
      <td>{{emp.salary}}</td>
     </tr> 
   </table>
</Div>  
<hr> 
 <h2>name :{{val | json}}</h2>  
<br>
<br>
 
