<!-- <p>comp-a works!</p>
 name: {{myname | uppercase}}

 <hr> <button vinAppBtnDng>Click</button> <button vinAppBtnDng>Click</button> <button vinAppBtnDng>Click</button>


 <div vinAppCard>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus dignissimos, 
    ipsa sapiente, porro est repellendus quibusdam beatae recusandae error enim alias consequuntur 
    veniam eum corporis, asperiores odit sequi. Assumenda, quo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus dignissimos, 
    ipsa sapiente, porro est repellendus quibusdam beatae recusandae error enim alias consequuntur 
    veniam eum corporis, asperiores odit sequi. Assumenda, quo.</div> -->
  <h3>A compo</h3>
 <!-- <h3> {{myname | json}}</h3> -->
 <hr>
 <h5>compo b</h5>
    <vin-app-comp-b (valA)="vinitt($event)" [val]="myname" ></vin-app-comp-b>
  <!-- <h4>{{empData | json}}</h4> -->
  <!-- <br>
    <h2 style="text-align: center;">Emp Details ></h2>
   <Div >
      <table style="background-color: paleturquoise;" >
        <tr>
         <th>No</th>
         <th>Name</th>
         <th>Gender</th>
         <th>Age</th>
         <th>Salary</th>
        </tr>
        <tr *ngFor="let emp of empData; let i=index ">
         <td>{{emp.no }}</td>
         <td>{{emp.name | dateToday:emp.gender}}</td>
          <td>{{emp.name | customage:emp.age}}</td> 
         <td>{{emp.gender}}</td>
         <td>{{emp.age | customage:emp.age}}</td>
         <td>{{emp.salary}}</td>
        </tr>
      </table>
   </Div>   -->