 <div  style="position:fixed;width: 100%;background: royalblue;color: #fff; height:  6vh;  " >
    
<div class="container-fluid">
   
<div class="row" >
     <div >
    <div class="col-11 m-0 p-0"  >
       <!-- <li *ngFor="let item of cartService.cart | datafilter:searchItems:'pName' " style="position: fixed;"> -->

       <!-- </li> -->
        
              <ul style="list-style: none; " >
                <li><h3 >Welcome to Vin Mart </h3></li>
                <li style="text-align: center; margin-top: -35px;" >
                    </li>
                    <!-- <li *ngFor="let item of cartService.cart">{{item.pName}}</li> <br>{{cartService.cart | json}} -->
                    <li style="margin-left: 90vw; margin-top:-29.5px;">
                         <div class="col-1 m-0 p-0" style="background-color:azure; position: absolute; 
                         height: 6vh; margin-right: 5px; margin-top: 60px;">
      
                <p style="padding: 0px 15px;color:  red;text-align: center;  ">
                  <span (click)="toggleCart = !toggleCart">
                     
                        
                     <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                  </span>
                  <span *ngIf="(cartService.cart$ | async)?.length " style="position: absolute;
                  right: 60px;
                  color: black;
                  top: -7px;
                  font-weight: 500;">
                   {{ (cartService.cart$ | async)?.length}}
                   <!-- {{}} -->
                  </span>
              </p>
              </div> 
                    </li>
              </ul>
              
              <!-- <div class="col-1 m-0 p-0" style="background-color: #ccc;top: -4px;  position: absolute; margin-left: 90vw; ">
      
                <p style="padding: 0px 10px;margin-top: 5px;color: red;text-align: center;">
                  <span (click)="toggleCart = !toggleCart">
                     
                        
                     <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                          <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                  </span>
                  <span *ngIf="(cartService.cart$ | async)?.length" style="position: absolute;
                  right: 55px;
                  color: #fff;
                  top: -4px;
                  font-weight: 600;">
                   {{  (cartService.cart$ | async)?.length}}
                  </span>
              </p>
              </div> -->
    </div> 
    <!-- <div class="col-1 m-0 p-0" style="background-color: #ccc;top: -4px;  position: absolute; margin-left: -90vw; ">
      
      <p style="padding: 0px 10px;margin-top: 5px;color: red;text-align: center;">
        <span (click)="toggleCart = !toggleCart">
           
              
           <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
              </svg>
        </span>
        <span *ngIf="(cartService.cart$ | async)?.length" style="position: absolute;
        right: 55px;
        color: #fff;
        top: -4px;
        font-weight: 600;">
         {{  (cartService.cart$ | async)?.length}}
        </span>
    </p>
    </div> -->
</div>
</div>
</div>
</div>
  <br>
  
 <div style="position:sticky;top: 35px;width: 100%;">

<div class="container-fluid ">
<div class="row" >
    <div class="col-2 m-0 p-0" >
        <br>
        <vin-app-nav></vin-app-nav>
    </div>
    <div class="col-10 m-0 p-0">
        <div class="main">
            <router-outlet />
        </div>
    </div>
</div>
</div>
</div>
<div class="cart-top" [hidden]="!toggleCart" style="text-align: center;">
    <h5 style="text-align: center;color:#fff"> Your Cart </h5><hr>
    <p *ngFor="let cart of cartService.cart$|async" style="border-bottom: 2px solid #ccc;text-align: left;background: #ddd;">
        Product Name : {{cart.pName}}<br>
        Unit Price : {{cart.price}}<br>
        Total Amount : {{cart.totalPrice}}
    </p>
    <hr>
   
   totalAmount:- {{cartService.cartTotal}} 
    
    <hr>
   
    <button routerLink="/cart-detail" (click)="toggleCart = false;" vinAppBtnPr>View Details</button>
</div>
