<!-- <p>comp-c works!</p>

<button vinAppBtnPr>Click Me test test test test</button>
<br>
<hr>
 <div vinAppBtnPr>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Sequi, eaque inventore a itaque nam consequuntur?</div> -->
     <!-- <div vinAppCart>
     <input type="text" placeholder="enter product name" [(ngModel)]="searchFilter">
    
        <table>
           <tr>
            <th>So</th>
            <th>Product</th>
            <th>price</th>
            <th>About</th>
           </tr>
           <tr *ngFor="let name of product | filterpipe:searchFilter:'item'" >
            <td>{{name.so}}</td>
            <td>{{name.item}}</td>
            <td>{{name.price}}</td>
            <td>{{name.disc}}</td>
           </tr>
        </table>
    </div> -->
 <br>
 <br>

 <div  style="background-color: bisque; width: 60vw; margin: 25px; padding: 40px;">
   <form [formGroup]="userForm" (ngSubmit)="sumitt()">
      <div >
         <div >
            <b style="margin-right: 25px;">Name </b> <input type="text"  formControlName="name"> <br> <br>
            <b style="margin-right: 27px;">Email  </b> <input type="email" formControlName="email"><br> <br>
              <b >Password </b> <input type="password" formControlName="userPassword">    <br> <br>
              <div *ngFor="let state of stateList">
               <input 
                 type="checkbox" 
                 [checked]="this.states.includes(state) ? true : false"
                 (click)="selectState($event,state)"
                >
               {{ state }}
             </div>
         </div>
      </div>
   <input type="submit" value="submit" [disabled]="userForm.invalid">
   </form>
   {{this.states | json}}
 </div> <hr>

