<br> <br>
<!-- <br> <hr> -->
<!-- <form #aaa="ngForm" (ngSubmit)="submit(aaa)">
    <div *ngFor="let item of myNewForm.city">
        <input type="checkbox" name="city" >{{item}}
        <div *ngIf=" aaa.form.invalid && aaa.form.untouched">
            <small class="text-danger">Please select a city</small>
          </div></div>

       
</form> <br><hr> -->
<!-- <form #ans="ngForm" (ngSubmit)="submit(ans)" style="margin-left: 30px;" novalidate="true">
  <div *ngFor="let item of myNewForm.city"> <input type="checkbox" name="city" required  ngModel=""
    [value]="item" #vvv="ngModel">{{item}}</div>
   <div *ngIf="ans.form.controls['city']?.errors && ans.form.controls['city'].untouched">Please select </div>
   <input type="submit" value="submit">
  </form>
  <hr>
  -->
 <!-- <form #ans="ngForm" (ngSubmit)="submit(ans.value)" style="margin-left: 30px;" novalidate="true">
  <div *ngFor="let item of myNewForm.city"> <input type="radio" name="city" required  [(ngModel)]="myNewForm.citySelect" [value]="item">{{item}}</div>
   <div *ngIf="ans.form.controls['city']?.errors && ans.form.controls['city'].invalid">Please select </div>
  </form>  
     -->

    
 <div style="margin-left: 100px; background-color: palevioletred; width: 50vw; padding: 25px; border-radius: 5%; ">
      <form  #abc="ngForm" (ngSubmit)="submit(abc.value)" [noValidate]="true">
      <b>Name:- </b>  <input type="text" [(ngModel)]="myNewForm.name" name="name" required>
      <div *ngIf="abc.form.controls['name']?.errors && abc.form.controls['name'].touched">please Enter Your Name </div>
    <br>    <br>
  <b>Email:- </b><input type="text" required [(ngModel)]="myNewForm.email" name="email"> <br>
  <div *ngIf="abc.form.controls['email']?.errors && abc.form.controls['email'].touched">please Enter Your Name </div>
  <br>
    <b>City </b><div *ngFor="let cityname of myNewForm.city" style="display: inline; 
    " >
 <input type="checkbox" required name="city" ngModel [value]="cityname">{{cityname}}
  </div>
  <div *ngIf="abc.form.controls['city']?.errors && abc.form.controls['city'].touched ">Please select Your City</div>
  <br>
 
 <b>Discription:-</b> <textarea [(ngModel)]="myNewForm.disc " name="disc" required=""></textarea>
 <div *ngIf="abc.form.controls ['disc']?.errors && abc.form.controls ['disc'].touched ">Fill here about knowledge</div>
 <br>
 <b>mob:-</b> <input type="number" required name="mobile" [(ngModel)]="myNewForm.mobile">
 <div *ngIf="abc.form.controls['mobile']?.errors && abc.form.controls['mobile'].touched">Please Enter Your Contact No</div>
<br> <hr>
<input type="submit" value="submit">

<button (click)="resetForm(abc)" style="margin-left: 20px; border: none;"  [disabled]="!abc.valid">resetForm</button>
</form>
     </div> <br> 
     <br> 

  <!-- <form #aaaa="ngForm" (ngSubmit)="submit(aaaa.value)" [noValidate]="true"> -->
   
    <!-- <select  [(ngModel)]="myNewForm.citySelect" name="city" >
      <option *ngFor="let city of myNewForm.city" [value]="city">{{ city }}</option>
    </select>
    <br><br> -->

     
    <!-- <select  [(ngModel)]="myNewForm.citySelect" name="city" >
      <option *ngFor="let city of myNewForm.city" [value]="city">{{ city }}</option>
    </select>
    <br><br> -->
    <!-- <input type="submit" value="submit"> -->
  <!-- </form> -->

  <hr>
  <form #act="ngForm" (ngSubmit)="submit(act.value)">
    <select name="city" [(ngModel)]="myNewForm.citySelect" required>
      <option  *ngFor="let names of myNewForm.city" [value]="" >{{names}}</option>
    </select> <br>
    <div *ngIf="act.form.controls['city']?.errors && act.form.controls['city'].untouched">Please select </div>
    <input type="submit" value="submit">
  </form><hr> 

  <form #action="ngForm" (ngSubmit)="submit(action.value)">
    <div *ngFor="let item of myNewForm.city">
      <input type="checkbox"  name="city" required ngModel [value]="item">{{item}}
    </div>   
    <div *ngIf="action.form.controls['city']?.errors && action.form.controls['city'].untouched">
      Please select </div> 
  <br> 
    <!-- <div *ngFor="let city of myNewForm.city">
      <input type="checkbox" [value]="myNewForm.city" name="city" ngModel>
      {{ city }}
    </div> -->    
 <input type="submit" value="submit"> 
 </form>
  <hr>