<nav>
    <ul>
        <li ><a routerLink="a">Comp A</a></li>
        <li><a routerLink="b">Comp B | Pipe</a></li>
        <li><a routerLink="c">Comp C | Directive</a></li>
        <li><a routerLink="d">Comp D</a></li>
        <li><a routerLink="e">Comp E</a></li>
        <li><a routerLink="cart-detail">Cart Details</a></li>
        <li><a routerLink="G">compo g</a></li>
        <li> <a routerLink="H">Compo-Console</a></li>
        <li> <a routerLink="p">Parent</a></li>
        <li> <a routerLink="pc">parent-child</a></li>
        <li><a routerLink="form">FormPra</a></li>
    </ul>
</nav>
